@charset "UTF-8";
.header {
	background-color: white;
	min-height: 50px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.header a.text {
	float: right;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.header a.logo {
	float: left;
	padding: 5px 5px 0px 5px;
}

.header a.logo img {
	border-radius: 50%;
	box-shadow: 0 5px 2px rgba(0, 0, 0, 0.3);
}