@charset "UTF-8";
.header {
	background-color: white;
	min-height: 50px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	text-align: right;
}

.header a.text, .header a {
	text-align: center;
	padding: 14px 8px;
	text-decoration: none;
	font-size: 17px;
	display:inline-block
}

.header a.logo {
	float: left;
	padding: 5px 5px 0px 5px;
}

.header a.logo img {
	border-radius: 50%;
	box-shadow: 0 5px 2px rgba(0, 0, 0, 0.3);
}

.header p{
	display:inline-block;
	text-align: center;
	padding: 18px 8px 8px;
	text-decoration: none;
	font-size: 17px;
	margin: 0;
}

.header form{
	display:inline-block;
	text-align: center;
	padding: 14px 8px 14px 8px;
	text-decoration: none;
	margin: 0;
}

.header form input, .header a#link{
	border: 0;
	font-size: 17px;
	background-color: white;
	padding: 0;
	color: rgba(73, 165, 191, 1);
	text-decoration: underline;
}

.header form input:hover{
	cursor: pointer;
}
