@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.login-main {
	width: 360px;
	padding: 14% 0 0;
	margin: auto;
}

.form-container {
	position: relative;
	z-index: 1;
	background: #ffffff;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-container #email,
.form-container #password {
	font-family: "Open Sans", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form-container #submit {
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #93cede;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.form-container #submit:hover,
.form #submit:active,
.form #submit:focus {
	background: #49a5bf;
}

.container {
	position: relative;
	z-index: 1;
	max-width: 300px;
	margin: 0 auto;
}

.container:before,
.container:after {
	content: "";
	display: block;
	clear: both;
}

html {
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: rgba(147, 206, 222, 1);
	background-repeat: no-repeat;
	background: -moz-linear-gradient(left, rgba(147, 206, 222, 1) 0%, rgba(73, 165, 191, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147, 206, 222, 1)), color-stop(100%, rgba(73, 165, 191, 1)));
	background: -webkit-linear-gradient(left, rgba(147, 206, 222, 1) 0%, rgba(73, 165, 191, 1) 100%);
	background: -o-linear-gradient(left, rgba(147, 206, 222, 1) 0%, rgba(73, 165, 191, 1) 100%);
	background: -ms-linear-gradient(left, rgba(147, 206, 222, 1) 0%, rgba(73, 165, 191, 1) 100%);
	background: linear-gradient(to right, rgba(147, 206, 222, 1) 0%, rgba(73, 165, 191, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1);
	font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}