@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.login-main {
	width: 360px;
	margin: 30px auto;
}

.form-container {
	position: relative;
	z-index: 1;
	background: #ffffff;
	max-width: 360px;
	margin: 0 auto 0;
	padding: 45px;
	text-align: center;
	border-radius: 5pt;
}

.form-container #email,
.form-container #password,
.form-container #password-confirm {
	font-family: "Open Sans", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form-container #submit {
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #5babc1;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
	border-radius: 5pt;
}

.form-container #submit:hover,
.form #submit:active,
.form #submit:focus {
	background: #49a5bf;
}

.form-container #delete {
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #ce4948;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
	border-radius: 5pt;
}

.form-container #delete:hover,
.form #submit:active,
.form #submit:focus {
	background: #b73f3e;
}

.container {
	position: relative;
	z-index: 1;
	max-width: 300px;
	margin: 0 auto;
}

.container:before,
.container:after {
	content: "";
	display: block;
	clear: both;
}

#error {
    color: #c6322f;
    display: relative;
    top: -55px; 
    margin-bottom: -55px;
}

#success {
    color: #239b31;
    display: relative;
    top: -55px; 
    margin-bottom: -55px;
}