html {
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: rgba(147, 206, 222, 1);
	background-repeat: no-repeat;
	background: -moz-linear-gradient(left, rgba(147, 206, 222, 1) 0%, rgba(73, 165, 191, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147, 206, 222, 1)), color-stop(100%, rgba(73, 165, 191, 1)));
	background: -webkit-linear-gradient(left, rgba(147, 206, 222, 1) 0%, rgba(73, 165, 191, 1) 100%);
	background: -o-linear-gradient(left, rgba(147, 206, 222, 1) 0%, rgba(73, 165, 191, 1) 100%);
	background: -ms-linear-gradient(left, rgba(147, 206, 222, 1) 0%, rgba(73, 165, 191, 1) 100%);
	background: linear-gradient(to right, rgba(147, 206, 222, 1) 0%, rgba(73, 165, 191, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1);
	font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}