@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.button_a{
    	  display: inline-block;
		  padding: 15px 25px;
		  font-size: 24px;
		  cursor: pointer;
		  text-align: center;   
		  text-decoration: none;
		  outline: none;
		  color: #fff;
		  background-color: #4CAF50;
		  border: none;
		  border-radius: 15px;
		  box-shadow: 0 9px #999;
		  }
		  
.button_a:hover{background-color: #3e8e41} 
.button_a:active{
  			background-color: #3e8e41;
  			box-shadow: 0 5px #666;
  			transform: translateY(4px);
		}

.create_form {
	
	POSITION:absolute; 
	left:50%; top:50%; 
	width:600px; height:360px; 
	margin-left:-300px; margin-top:-150px; 
	border:1px solid #888; b
	ackground-color:#edf; text-align:center
}

.create_form_container {
	position: relative;
	z-index: 1;
	background: #ffffff;
	max-width: 1000px; max-height:1000px;
	margin: 0 auto 0;
	padding: 45px;
	margin-left:0px; margin-top:-100px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.create_form_container #question,
.create_form_container #answer1,
.create_form_container #answer2,
.create_form_container #answer3,
.create_form_container #answer4,
.create_form_container #answer5,
.create_form_container #answer6{
	font-family: "Open Sans", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 90%;
	border: 0;
	margin: 0 0 5px;
	padding: 10px;
	box-sizing: border-box;
	font-size: 15px;
}

.create_form_container #submit {
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #93cede;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.create_form_container #submit:hover,
.form #submit:active,
.form #submit:focus {
	background: #49a5bf;
}

.create_form_container #cancel {
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #ec4913;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.create_form_container #cancel:hover,
.form #cancel:active,
.form #cancel:focus {
	background: #bb2611;
}


.container {
	position: relative;
	z-index: 1;
	max-width: 300px;
	margin: 0 auto;
}

.container:before,
.container:after {
	content: "";
	display: block;
	clear: both;
}

#error {
    color: #c6322f;
    display: relative;
    top: -55px; 
    margin-bottom: -55px;
}

#success {
    color: #239b31;
    display: relative;
    top: -55px; 
    margin-bottom: -55px;
}